.main {
  padding: 10px;
  height: 100vh;
}
.layout {
  display: flex;
}
.sidebar {
  min-height: 100%;
  width: 300px;
  border-radius: 5px;

  /* background-color: rgb(51, 1, 1); */
  /* box-shadow: 0 0 2px gray; */
  box-shadow: 0px 0px 20px #00000014;
  margin-right: 20px;
  color: #5a607f;
  transition: all 0.5s;
}
.content {
  width: 100%;
  height: 100%;
}
.header {
  height: 10vh;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
  background-color: white;
}
.body {
  height: 85vh;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  /* box-shadow: 0 0 2px gray; */
  box-shadow: 0px 0px 20px #00000014;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  align-content: center;
  /* justify-content: space-between; */
  font-size: 1.2rem;
  /* gap: 30px; */
}
.logo h6 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0px;
  font-weight: 800;
  margin-left: 20px;
}
.logo i {
  cursor: pointer;
  /* margin-left: 50px; */
}
.menu {
  margin-top: 50px;
}
.menu-item {
  margin-top: 30px;
  padding: 5px;
}
.menu-item a {
  color: #5a607f;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.menu-item i {
  font-size: 1.2rem;
  margin: 0 15px;
}
.active {
  background-color: #e6e9f4;
  /* padding: 10px; */
}
.active a,
.active i {
  /* color: rgb(51, 1, 1); */
  color: #5a607f;
}
.header-content {
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.header-content i {
  /* margin-right: 20px; */
  font-size: 1.2rem;
  /* align-items: center;
    justify-content: center;
    display: flex; */
}
.header-content a {
  background-color: #e6e9f4;
  padding: 10px;
  box-shadow: 0px 0px 20px #00000014;
  height: 5vh;
  border-radius: 3px;
  text-decoration: none;
  /* font-size: 1.2rem; */
  color: blue;
  margin: 0 20px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  display: flex;
}
