.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.register-form {
  /* border: 1px solid gray; */
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgb(92 99 105 / 20%);
  font-weight: 600;
  /* margin: auto; */
  /* max-width: 500px; */
  /* padding: 25px 45px 45px; */
  /* width: 100%; */
}
